<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>
    We hope you find exactly what you're looking for in a place to stay.
    <br>Browse our listings, or use the search box above to narrow your search.
  </p>

{{rental-new-tile saveRental="saveRental"}}

  {{#link-to 'index' class="button"}}
    About Us
  {{/link-to}}
</div>

{{#link-to 'rental' rental.id}}
  {{#each model.rentals as |rental|}}
    {{rental-index-tile rental=rental}}
  {{/each}}
{{/link-to}}
